{{extend 'layout.html'}}

<h3>Mean of the Aging Variable</h3>
<p style="font-family:Verdana; font-size:20px; color:orange;">{{=meanAging}}</p><br>

<h3>Mean of the Qty Variable</h3>
<p style="font-family:Verdana; font-size:20px; color:green;">{{=meanQty}}</p><br>

<h3>Summary of the dataset</h3>
<p style="font-family:Verdana; font-size:20px; color:skyblue;">{{=summary}}</p><br>

<h3>Time Taken by each entity</h3>
<p style="font-family:Verdana; font-size:20px; color:violet;">{{=time_taken_per_entity}}</p><br>